
@font-face {
    font-family: Bones;
    src: url(./fonts/BONEAPA.TTF);
}

body {
    font-family:"times new roman", sans-serif;
    display: flex;
}

label {
    text-indent: 4px;
}

label, input {
    display: block;
    font-family: inherit;
    border-radius: 10px;
    
    font-size: 100%;
    margin: 0;
    box-sizing: border-box;
}

form input {
    border: none;
    background-color:#8080801a;
    text-indent: 5px;
    transition: box-shadow 0.1s linear;
}

form input:hover {
    background-color: #fcfcfc;
    box-shadow: 0px 0px 1px 2px #000000;
}

form input:valid {
    background-color: #8080801a;
}

form input:hover:valid {
    background-color: #fcfcfc;
}

form input:not(:placeholder-shown):invalid {
    background-color: #ff00001c;
}

form input:focus {
    border: none;
    background-color: #ffffff;
    box-shadow: 0px 0px 0px -1px #000000;
}

input {
    height: 30px;
    width: 70%;
}
/*LEFT SIDE*/
leftside {
    width: 40%;
    height: 100%;
}

photo {
    display: flex;
    flex-direction: column;
    position: relative;
}

.desert {
    object-fit: cover;
    overflow: hidden;
}

.credit {
    position: absolute;
    bottom: 1px;
    color: white;
    font-size: 12px;
}

.cactus {
    object-fit: contain;
    width: 20%;
    padding: 10px 0px;
}

logo {
    display: flex;
    justify-content: center;
    background-color: #00000057;
    position: absolute;
    top: 120px;
    height: 100px;
    width: 100%;
}

.logoname {
    font-family: Bones;
    color: white;
    font-size: 80px;
    padding-top: 17px;
}

/*RIGHT SIDE */

/* HEADER */
rightside {
    background-color: #d3d6db2b;
    border: 30px;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    flex-direction: column;
    flex: 0, 1, auto;
    height: 33%;
    justify-content: center;
    padding: 0px 40px;
    font-size: 24px;
    font-weight: 600;
}

span {
    font-style:italic;
}

header > div {
    width: 80%;
}

header > p {
    padding-top: 20px;
}

/* FORM */

form {
    background-color: white;
    box-shadow: 0 10px 6px -6px #777;
    display: flex;
    flex-wrap: wrap;
    flex: 1, 0, auto;
    height: clamp(33%);
    padding-left: 40px;
    padding-bottom: 20px;
}

.formheader {
    width: 100%;
}

form > div {
    width: 50%;
}

/* FOOTER */

footer {
    position: relative;
    top: 30px;
    height: clamp(33%);
    padding-left: 40px;
    flex: 0, 1, auto
}

footer > div {
    padding: 10px 0px;
}
#create {
    background: rgb(241,219,209);
    background: linear-gradient(90deg, rgba(241,219,209,1) 0%, rgba(255,255,255,1) 100%);
    width: 30%;
    flex-shrink: 0;
}

#create:hover {
    box-shadow: 0px 0px 0px 1px black;
    transition: box-shadow 0.1s linear;
}

#loginlink {
    color:black
}